.idea/
.vs/
.vscode/

.env
dockerSite.env
public/.htaccess
public/css
public/js

/vendor/

*.lock

# Now managed in their own repo

# https://github.com/jf0772256/simpleMVCRouter
# Local copy requiredbeing adjusted, so they will be readmitted to repo