APP_ENV=DEV
DATABASE_CONNECTOR=pdo
DATABASE_TYPE=mysql
#docker sql server user name & password
DATABASE_USER=docker
DATABASE_PASS=docker
#end section
DATABASE_PORT=3306
DATABASE_NAME=simplemvc
#for docker make sure that you use the container name...
DATABASE_HOST=lamp-mariadb106
#end section
SQLITE_PATH=runtime/phpsqlite.db
#Encoder key value and bit length if you want to precreate the key the encoder will use
ENCODER_KEY_LENGTH=
ENCODER_KEY=
SIGNATURE_LENGTH=
SIGNATURE_KEY=